::-webkit-input-placeholder {
    color: green;
}

.cartao {
    /* background-color: #000000e8; */
    border: 1px solid green;
    border-radius: 10px;
    margin-bottom: 15px;
}

.menu-link {
    color: #0000004f;   
}

a:hover.menu-link {
    color: green;
}